<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live URL Decryptor</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <input type="text" name="cipher" id="cipher" />
    <input type="submit" id="submit" />
    <br>
    <br>
    <button onclick="copy2Clipboard()">Copy</button>
    <br>
    <span id="result"></span>

</body>
<script>
    function copy2Clipboard() {
        var txt = $('#result').text();
        if (txt !== "Error") {
            navigator.clipboard.writeText(txt);
        }
    }

    $('#submit').click(() => {
        $.ajax({
            url: '/',
            type: 'post',
            // dataType:'jsonp',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                cipher: $('#cipher').val(),
            }),
            success: (msg) => {
                $('#result').text(msg.plainText);
                $('#result').text(msg.error);
            }
        })

    })
</script>

</html>